.interest-container{
    display: flex;
    flex-direction: row;
}

.interest-list{
    display: flex;
    
}

.interest-list-container{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    margin: 0px 0px 0px 0px;
    border: 1px solid black !important;
    border-radius: 10px !important;
    padding: 0.75rem;
}


.activity-container{
    display: flex;
    flex-direction: row;
}

.user-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateable-attributes {
    display: flex;  
    width: 100%;
    justify-content: center;
}

.updateable-attributes span {
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-left: 10px; /* Adds space between the attribute and the edit icon */
}
