.about-namibia-container {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    text-align: center; /* Ensures text is centered */
    padding: 20px; /* Optional: Adds spacing */
}

.about-namibia-img-container>img {
    width: 30%;
}

.about-namibia-text{
    width: 75%;
}

/* images */

.about-nam-img {
    margin: 0rem 1rem ;
}