.about-namibia-container {
    flex-direction: column;
    /* padding: 20px;  */
}

.about-namibia-title{
    margin: 0.75rem;
}

.about-namibia-text{
    width: 75%;
}

/* images */

.about-nam-img {
    width: 30%;
    border-radius: 10px;
    margin: 0rem 1rem ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

@media (max-width: 993px) {
   
    .about-nam-img {
        width: 30%;
        margin: 0.75rem 0.75rem ;
    }
    
    .about-namibia-img-containe{
        display: flex;
        flex-direction:column ;
    }
   
    .about-nam-img {
        width: 70%;
    }
}