.navbar-toggler{
    background-color: #E8620F!important;
}

nav {
    background-color: #fff !important;
    max-width: 100%;
}

.dropdown-menu {
    text-align: center; /* Centers inline elements */
  }

  .dropdown-menu li {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
  }

  .info-dropdown-menu{
    position: absolute;
    right: 0 !important;
    left: auto !important;
  }