/* Hero banner */

.activities-hero-banner-container{
    background-image: url('../../../../assets/images/hero-images/activities-hero-img.jpg');
    background-position:center !important; 
}

.activities-container{
    flex-direction: column;
    width: 100% !important;
}

.activities-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.activities-col{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activities-text{
    width: 75%;
}