.accommodation-card {
    width: 100%;
    border: 1px solid black !important;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.accommodation-card .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
/* titles */

.small-screen-title{
    display: none;
}

/* card image */
.accommodation-card-image-container{
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: 50%;
}

.accommodation-image {
    max-width: 100%;
    height: 250px;
    border-radius: 5px;
}

/* content */

.amenities-title{
    text-decoration: underline;
}

.accommodation-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex: 1;
}

.accommodation-card-title {
    margin-bottom: auto;
    margin: 0rem 1rem ;
}

.accommodation-amenities-list {
    list-style: none;
    padding: 0;
}

.accommodation-details-btn {
    margin-top: auto;
}

/* Responsive design for smaller screens */
@media (max-width: 1217px) {
   
    .small-screen-title {
        display: unset !important;
    }

    .big-screen-title {
        display: none !important;
    }

    .accommodation-card-image-container{
        width:100%;
    }
}

