/* frontend/src/components/nav.css */
footer {
    background-color:#fff !important;
    flex-shrink: 0; /* Prevent footer from shrinking */
    padding: 5px;
  }
  
.footter-copy-right-container {
  display: flex; /* Enables flexbox */
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    text-align: center;
}