/* frontend/src/components/nav.css */
footer {
    background-color:#fff !important;
    flex-shrink: 0; 
    padding: 5px;
  }
  
.footer-copy-right-container {
  display: flex; 
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    text-align: center;
}

@media (max-width: 546px) {
   
  .footer-copy-right-container {
   font-size: 11px;
  }
}

@media (max-width: 406px) {
   
  .footer-copy-right-container {
   font-size: 10px;
  }
}