/* frontend/src/components/nav.css */
footer {
    background-color:#fff !important;
    flex-shrink: 0; /* Prevent footer from shrinking */
  }
  
  /* a {
    text-decoration: none;
    color: #fff !important;

  }

  a:hover {
    color: #a2d0de !important;
  }

   */
  