/* hero-banner */
.about-us-hero-banner-container{
    background-image: url('../../../../assets/images/hero-images/flamingo.jpg') !important;
    background-size: cover;
    background-position: top !important;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 15rem !important;
    display: flex;
    justify-content: flex-end; 
    align-content: start !important;
    flex-direction: column;

}

.about-us-container {
   flex-direction: column;
}

.founders-container {
    display: flex;
    justify-content: center;
}

/* Individual founder image container */

.founder-img-container{
    height: 15rem;
    align-items: center;
    justify-items: center;
}

.founder-img{
    height: 85%;
    width:auto;
    border-radius: 10px;
    margin: 0rem 1rem ;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.founder-title{
    font-size: 1rem;
    font-weight: 600;
}

/* text */
.about-us-text{
    align-items:center;
}

.about-us-text{
    width: 75%;
}

/* contact us */

.contact-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social-media-links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.soial-links{
    margin: 0rem 1rem 0rem 1rem !important;
}

.phone-and-email{
    display: flex;
    flex-direction: row;   
    justify-content: center;
}

/* btn */

.show-more-about-us-btn{
    font-weight: 600 !important;
}