/* hero banner */
.home-hero-banner-container {
  background-image: url('../../../../assets/images/hero-images/flamingo.avif') !important;
  background-size: cover;
  background-position: top !important;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 15rem !important;
  display: flex;
  justify-content: flex-end; 
  align-content: start !important;
  flex-direction: column;
}

.home-hero-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; 
  position: relative;
}

.hero-logo{
height: 90%; 
}

.home-hero-banner-text-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-title, .company-moto{
  font-weight: bolder;
}

.company-title{
  font-size: 6rem;
}

.company-moto{
  font-size: 2rem;

}

/* homepage cards */
.home-img-links {
  height: 15rem !important;
}

.homepage-card {
 flex-direction: column;
 margin: 0px 0px 0px 0px;
}

.home-card-image {
 height: 15rem; 
 object-fit: cover; 
}

.card-body {
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-grow: 1;
 text-align: center;
}

.card-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* home buttons  */

.home-btn {
  width: 40%;
}

.card-title, .about-us-btn-text {
  margin-bottom: 3px !important;
  margin-top: 3px !important;
}

/* learn about namibia container */

.about-container{
  flex-direction: column;
}

.about-text{
margin: 0 0.75rem !important;
}

.important-information-list{
  list-style: none;
}


@media (max-width: 1217px) {
    
  .company-title{
    font-size: 3rem;
  }

  .company-moto{
    font-size: 1rem;
  }
}

@media (max-width: 736px) {

  .hero-logo{
   display: none;
    }

}

@media (max-width: 1119px) {
  .home-btn{
    width: auto;
  }
}
