/* hero banner */
.home-hero-banner-container {
  background-image: url('../../../../assets/images/hero-images/whk-mountains.jpg') !important;
  background-position:top !important;
}

.home-hero-banner-img-container {
  width: 50%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero-banner-img {
  height: 100%;
  object-fit: cover;
}

/* homepage cards */
.home-img-links {
  height: 15rem !important;
}

.home-link-button {
  width: 30% !important;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.home-link-button:hover {
  background-color: #7ad8f1;
  text-shadow: 2px 2px 4px rgba(6, 56, 117, 0.7); /* Optional: Add a text shadow */
}

.homepage-card {
 display: flex;
 flex-direction: column;
 box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
 margin: 0px 0px 0px 0px;
 border: 1px solid black !important;
 border-radius: 10px !important;
}

.home-card-image {
 height: 15rem; 
 object-fit: cover; 
}

.card-body {
 /* height: 48px !important; */
}

.card-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-btn {
  background-color: #e8620f !important;
  border: 2px solid #000000 !important;
  width: 50%;
}

.home-btn:hover {
  background-color: #c64900; 
  color: #fff !important;
  font-weight:bold !important;
}

.card-title, .about-us-btn-text {
  margin-bottom: 3px !important;
  margin-top: 3px !important;
}

.home-about-us-btn {
  background-color: #288deb !important;
  border: 2px solid #000000 !important;
  width: auto;
}

.home-about-us-btn:hover {
  background-color: #0275e1 !important; 
  color: #fff !important;
  font-weight:bold !important;
}

.hero-banner-text-container h1{
  font-size: 40px !important;
}
.hero-banner-text-container p{
  font-size: 20px !important;
}

/* learn about namibia container */

.aboutus-and-contact-container {
  border: 1px solid #000000 !important;
  border-radius: 10px !important;
  background-color: #fff;
  color: #000000 !important;
 box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}
