/* hero banner */
.home-hero-banner-container {
  background-image: url('../../../../assets/images/hero-images/whk-mountains.jpg') !important;
  background-position:top !important;
}

.home-hero-banner-img-container {
  width: 50%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero-banner-img {
  height: 100%;
  object-fit: cover;
}

/* homepage cards */
.home-img-links {
  height: 15rem !important;
}

.homepage-card {
 flex-direction: column;
 margin: 0px 0px 0px 0px;
}

.home-card-image {
 height: 15rem; 
 object-fit: cover; 
}

.card-body {
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-grow: 1;
 text-align: center;
}

.card-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* home buttons  */

.home-btn {
  width: 33.3%;
}

.card-title, .about-us-btn-text {
  margin-bottom: 3px !important;
  margin-top: 3px !important;
}

.home-about-us-btn {
width: auto;
}

.hero-banner-text-container h1{
  font-size: 40px !important;
}
.hero-banner-text-container p{
  font-size: 20px !important;
}

/* learn about namibia container */

.about-container{
  flex-direction: column;
}

.about-text{
margin: 0.75rem;
}

.important-information-list{
  list-style: none;
}
