/* index.css */

html, body, #root {
  max-width: 100% !important;
  height: 100%;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0083B7 !important;
}

.row, .col {
  padding: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;

}

.row {
   max-width: 100% !important;
}

.container-fluid {
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1; /* Ensures the App stretches to fill the height */
}

/* Content grows and fills available space */
.content {
  flex: 1; /* Pushes the footer to the bottom */
  display: flex;
  flex-direction: column;
}

a, p, link {
  padding: 0 !important;
  margin: 0 !important;
}


input{
  border: 1px solid #000000 !important;
  border-radius: 10px;
  background-color: #f3f0f0;
}

span {
  color: #000 !important;
}

span:hover {
  color: #063c93 !important;
}

.shadow-container{
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000000 !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

/* buttons styles */
.btn-text{
  font-weight:600 !important;
}

.btn  {
  border-radius: 0.5rem !important;
  border: 1px solid #000 !important;
  padding: 0.2rem 0.75rem !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
 
.btn:hover  {
  font-weight:bolder !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  transform: scale(1.05);
}

.main-btn{
  background-color: #e8620f !important;
}

.main-btn:hover {
  background-color: #eb6919 !important;
  color: #fff !important;
  font-weight:bolder !important;
  cursor: pointer;
}

.sub-btn{
  background-color: #288deb !important;
}

.sub-btn:hover {
  background-color: #0275e1 !important; 
  color: #fff !important;
  font-weight:bold !important;
  cursor: pointer;
}

.keep-btn-at-bottom-of-div {
  margin-top: auto;
}

.off-padding{
  padding: 0 !important;
}