/* index.css */

html, body, #root {
  max-width: 100% !important;
  height: 100%;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0083B7 !important;
}

.row, .col {
  padding: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;

}

.row {
   max-width: 100% !important;
}

.container-fluid {
  padding: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1; /* Ensures the App stretches to fill the height */
}

/* Content grows and fills available space */
.content {
  flex: 1; /* Pushes the footer to the bottom */
  display: flex;
  flex-direction: column;
}

button {
  background-color: #0083B7;
  border-radius: 0.5rem !important;
  width:fit-content;
}

a, link {
  padding: 0 !important;
  margin: 0 !important;
}

span {
  color: #000 !important;
}

span:hover {
  color: #063c93 !important;
}

.shadow-container{
  background-color: #fff;
  border-radius: 10px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  border: 1px solid #000000 !important;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}